{% extends "templates/layout.html" %}

{% block page_title %}Self Host Frappe{% endblock %}

{% block body %}
<div class="mx-auto">

    <div x-data="frappeInstaller()">
        {% include "templates/components/core/stepper.html" %}

        <div class="bg-white border border-gray-200 rounded-lg p-8">
            {% include "templates/components/core/server.html" %}
            {% include "templates/components/core/apps.html" %}
            {% include "templates/components/core/domain.html" %}
            {% include "templates/components/core/summary.html" %}
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('installer', {
            currentStep: Alpine.$persist(1).as('nano_press_current_step'),
            serverDetails: Alpine.$persist({
                ip: '',
                rootUser: 'root',
                sshPort: '22'
            }).as('nano_press_server_details'),
            isVerified: Alpine.$persist(false).as('nano_press_is_verified'),
            serverName: Alpine.$persist(null).as('nano_press_server_name'),
            selectedApps: Alpine.$persist([]).as('nano_press_selected_apps'),
            customApps: Alpine.$persist([]).as('nano_press_custom_apps'),
            frappeVersion: Alpine.$persist('version-15').as('nano_press_frappe_version'),
            domain: Alpine.$persist('').as('nano_press_domain'),
            domainVerified: Alpine.$persist(false).as('nano_press_domain_verified'),
            siteName: Alpine.$persist(null).as('nano_press_site_name'),
            siteUrl: Alpine.$persist(null).as('nano_press_site_url'),
            deploymentState: Alpine.$persist({
                isDeploying: false,
                isComplete: false,
                currentStep: 0,
                deployingDocName: null,
                customImageName: null,
                lastUpdated: null,
                version: 1
            }).as('nano_press_deployment_state')
        });
    });

    function frappeInstaller() {
        const data = {
            stepNames: ['Server', 'Apps', 'Domain', 'Deploy'],
            showAdvanced: false,
            
            generatedSSHKey: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7... frappe@deploy',
            showCustomAppDialog: false,
            customAppForm: {
                name: '',
                githubUrl: '',
                token: ''
            },

            domain: '',
            domainVerified: false,
            domainStatusMessage: '',
            isLoading: false,

            deploying: false,
            deployComplete: false,
            deployStep: 0,
            deploymentStatus: 'Preparing server...',

            copied: false,

            copyToClipboard() {
                navigator.clipboard.writeText(this.generatedSSHKey).then(() => {
                    this.copied = true;
                    setTimeout(() => {
                        this.copied = false;
                    }, 2000);
                });
            },

            toggleApp(appId) {
                const index = this.selectedApps.indexOf(appId);
                if (index > -1) {
                    this.selectedApps.splice(index, 1);
                } else {
                    this.selectedApps.push(appId);
                }
            },


            getSelectedAppsNames() {
                const appNames = this.selectedApps.map(id => {
                    const app = this.availableApps.find(a => a.id === id);
                    return app ? app.name : '';
                });
                const allApps = [...appNames, ...this.customApps.map(a => a.name)];
                return allApps.join(', ') || 'None';
            },

            startDeployment() {
                this.deploying = true;
                this.deployStep = 0;

                setTimeout(() => {
                    this.deployStep = 1;
                    this.deploymentStatus = 'Preparing server...';
                }, 1000);

                setTimeout(() => {
                    this.deployStep = 2;
                    this.deploymentStatus = 'Deploying site...';
                }, 3000);

                setTimeout(() => {
                    this.deploying = false;
                    this.deployComplete = true;
                }, 5000);
            },

            visitSite() {
                const siteUrl = this.domain || this.serverDetails.ip;
                alert(`Opening site: ${siteUrl}`);
            },

            // Access store properties
            get currentStep() { return this.$store.installer.currentStep; },
            get serverDetails() { return this.$store.installer.serverDetails; },
            get selectedApps() { return this.$store.installer.selectedApps; },
            get customApps() { return this.$store.installer.customApps; },
            get frappeVersion() { return this.$store.installer.frappeVersion; },
            get isVerified() { return this.$store.installer.isVerified; },
            get domain() { return this.$store.installer.domain; },

            nextStep() {
                if (this.$store.installer.currentStep < 4) {
                    this.$store.installer.currentStep++;
                }
            },

            prevStep() {
                if (this.$store.installer.currentStep > 1) {
                    this.$store.installer.currentStep--;
                }
            }
        };
        
        return data;
    }
</script>
{% endblock %}