{% extends "templates/layout.html" %}

{% block page_title %}Self Host Frappe{% endblock %}

{% block body %}
<div class="mx-auto px-4 py-8">
    <!-- Header -->
    <div class="text-center mb-8">
        <h1 class="text-3xl font-bold text-gray-900 mb-2">Self Host Frappe</h1>
        <div x-data="{
        text: '',
        textArray : ['Instant deployments. Infinite possibilities', 'Go from code to cloud in minutes!', 'Launch your Frappe apps instantly!'],
        textIndex: 0,
        charIndex: 0,
        typeSpeed: 110,
        cursorSpeed: 550,
        pauseEnd: 1500,
        pauseStart: 20,
        direction: 'forward',
    }" x-init="$nextTick(() => {
        let typingInterval = setInterval(startTyping, $data.typeSpeed);
    
        function startTyping(){
            let current = $data.textArray[ $data.textIndex ];
            
            // check to see if we hit the end of the string
            if($data.charIndex > current.length){
                    $data.direction = 'backward';
                    clearInterval(typingInterval);
                    
                    setTimeout(function(){
                        typingInterval = setInterval(startTyping, $data.typeSpeed);
                    }, $data.pauseEnd);
            }   
                
            $data.text = current.substring(0, $data.charIndex);
            
            if($data.direction == 'forward')
            {
                $data.charIndex += 1;
            } 
            else 
            {
                if($data.charIndex == 0)
                {
                    $data.direction = 'forward';
                    clearInterval(typingInterval);
                    setTimeout(function(){
                        $data.textIndex += 1;
                        if($data.textIndex >= $data.textArray.length)
                        {
                            $data.textIndex = 0;
                        }
                        typingInterval = setInterval(startTyping, $data.typeSpeed);
                    }, $data.pauseStart);
                }
                $data.charIndex -= 1;
            }
        }
                    
        setInterval(function(){
            if($refs.cursor.classList.contains('hidden'))
            {
                $refs.cursor.classList.remove('hidden');
            } 
            else 
            {
                $refs.cursor.classList.add('hidden');
            }
        }, $data.cursorSpeed);

    })" class="flex items-center justify-center mx-auto text-center max-w-7xl">
            <div class="relative flex items-center justify-center h-auto">
                <p class="text-gray-950" x-text="text"></p>
                <span class="absolute right-0 w-2 -mr-2 bg-black h-3/4" x-ref="cursor"></span>
            </div>
        </div>
    </div>

    <div x-data="frappeInstaller()"
        <!-- Stepper -->
        {% include "templates/components/core/stepper.html" %}

        <!-- Main Card -->
        <div class="bg-white border border-gray-200 rounded-lg p-8">
            {% include "templates/components/core/server.html" %}
            {% include "templates/components/core/apps.html" %}
            {% include "templates/components/core/domain.html" %}
            {% include "templates/components/core/summery.html" %}
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
    // Create Alpine.store for shared state with persistence
    document.addEventListener('alpine:init', () => {
        Alpine.store('installer', {
            currentStep: Alpine.$persist(1).as('nano_press_current_step'),
            serverDetails: Alpine.$persist({
                ip: '',
                rootUser: 'root',
                sshPort: '22'
            }).as('nano_press_server_details'),
            isVerified: Alpine.$persist(false).as('nano_press_is_verified'),
            serverName: Alpine.$persist(null).as('nano_press_server_name'),  // Store the server document name
            selectedApps: Alpine.$persist([]).as('nano_press_selected_apps'),
            customApps: Alpine.$persist([]).as('nano_press_custom_apps'),
            frappeVersion: Alpine.$persist('Version-15').as('nano_press_frappe_version'),
            domain: Alpine.$persist('').as('nano_press_domain'),
            domainVerified: Alpine.$persist(false).as('nano_press_domain_verified')
        });
    });

    function frappeInstaller() {
        const data = {
            stepNames: ['Server', 'Apps', 'Domain', 'Deploy'],
            showAdvanced: false,
            
            generatedSSHKey: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC7... frappe@deploy',
            showCustomAppDialog: false,
            customAppForm: {
                name: '',
                githubUrl: '',
                token: ''
            },

            domain: '',
            domainVerified: false,
            domainStatusMessage: '',
            isLoading: false,

            deploying: false,
            deployComplete: false,
            deployStep: 0,
            deploymentStatus: 'Preparing server...',

            copied: false,

            copyToClipboard() {
                navigator.clipboard.writeText(this.generatedSSHKey).then(() => {
                    this.copied = true;
                    setTimeout(() => {
                        this.copied = false;
                    }, 2000);
                });
            },

            toggleApp(appId) {
                const index = this.selectedApps.indexOf(appId);
                if (index > -1) {
                    this.selectedApps.splice(index, 1);
                } else {
                    this.selectedApps.push(appId);
                }
            },


            getSelectedAppsNames() {
                const appNames = this.selectedApps.map(id => {
                    const app = this.availableApps.find(a => a.id === id);
                    return app ? app.name : '';
                });
                const allApps = [...appNames, ...this.customApps.map(a => a.name)];
                return allApps.join(', ') || 'None';
            },

            startDeployment() {
                this.deploying = true;
                this.deployStep = 0;

                setTimeout(() => {
                    this.deployStep = 1;
                    this.deploymentStatus = 'Preparing server...';
                }, 1000);

                setTimeout(() => {
                    this.deployStep = 2;
                    this.deploymentStatus = 'Deploying site...';
                }, 3000);

                setTimeout(() => {
                    this.deploying = false;
                    this.deployComplete = true;
                }, 5000);
            },

            visitSite() {
                const siteUrl = this.domain || this.serverDetails.ip;
                alert(`Opening site: ${siteUrl}`);
            },

            // Access store properties
            get currentStep() { return this.$store.installer.currentStep; },
            get serverDetails() { return this.$store.installer.serverDetails; },
            get selectedApps() { return this.$store.installer.selectedApps; },
            get customApps() { return this.$store.installer.customApps; },
            get frappeVersion() { return this.$store.installer.frappeVersion; },
            get isVerified() { return this.$store.installer.isVerified; },
            get domain() { return this.$store.installer.domain; },

            nextStep() {
                if (this.$store.installer.currentStep < 4) {
                    this.$store.installer.currentStep++;
                }
            },

            prevStep() {
                if (this.$store.installer.currentStep > 1) {
                    this.$store.installer.currentStep--;
                }
            }
        };
        
        return data;
    }
</script>
{% endblock %}