<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{_("Nano Press")}}</title>

    <meta name="author" content="Nano Press">
    {% if metatags %}
        {% for name, content in metatags.items() %}
            <meta name="{{ name }}" content="{{ content }}">
        {% endfor %}
        {% else %}
        <meta name="description" content="Nano Press - The quick way to deploy Frappe Apps">
    {% endif %}


    <link rel="stylesheet" href="/assets/nano_press/css/tailwind.css">


    <script src="/assets/nano_press/js/vendor/alpinejs/plugins/persist.js"></script>
    <script src="/assets/nano_press/js/vendor/alpinejs/plugins/collapse.js"></script>
    <script src="/assets/nano_press/js/vendor/alpinejs/plugins/mask.js"></script>

    {% block alpine_plugins %}{% endblock %}

    <script defer src="/assets/nano_press/js/vendor/alpinejs/core.js"></script>
    {% block head %} {% endblock %}
</head>

{% include "templates/includes/toast-state.html" %}
{% include "templates/includes/frappe-call-script.html" %}




<script src="/assets/nano_press/js/utils/synced-query-params.js"></script>
<script>
    const querySync = new QuerySync({
        defaultValues: { page: 1 }
    });

    const { state } = querySync;

    window.query_state = state;

</script>
<style>
    [x-cloak] {
        display: none !important;
    }
</style>

<body x-data dir="auto">
    <div x-data="{ showSidebar: false,menuIsOpen: false }" class="flex">
        {% include "templates/includes/sidebar.html" %}
        <div class="flex flex-col w-full">
            {% include "templates/includes/topbar.html" %}
            {% include "templates/includes/toast-teleport.html" %}

            <div class="self-center" x-data="toaster">
                <div class="max-w-5xl px-6 md:px-10 py-8">
                    {% block body %} {% endblock %}
                </div>
                {% include "templates/includes/footer.html" %}
            </div>
        </div>
    </div>
</body>
{% block script %} {% endblock %}
</html>