DB_PASSWORD={{ mariadb_root_password }}
DB_HOST=mariadb-database
DB_PORT=3306
# Use a docker-safe identifier for project/network/router
ROUTER={{ bench_id }}
SITES={{ sites_backtick }}
BENCH_NETWORK={{ bench_id }}

